.u-section-1 .u-sheet-1 {
  min-height: 1119px;
}

.u-section-1 .u-text-1 {
  font-family: Angkor;
  margin: 69px auto 0;
}

.u-section-1 .u-form-1 {
  height: 833px;
  background-image: linear-gradient(#478ac9, #b91c1c);
  --radius: 38px;
  width: 570px;
  margin: 69px auto 60px;
}

.u-section-1 .u-form-group-1 {
  justify-content: center;
}

.u-section-1 .u-form-group-2 {
  justify-content: center;
}

.u-section-1 .u-form-group-4 {
  justify-content: center;
}

.u-section-1 .u-form-group-5 {
  justify-content: center;
}

.u-section-1 .u-form-group-6 {
  justify-content: center;
}

.u-section-1 .u-form-group-7 {
  justify-content: center;
}

.u-section-1 .u-form-group-8 {
  justify-content: center;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}