.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.custom-column {
  background-color: #f8f9fa;
}

.table {
  background-color: white;
}

.btn-primary {
  background-color: #478ac9;
  border-color: #478ac9;
}

.btn-primary:hover {
  background-color: #387cbd;
  border-color: #387cbd;
}
