 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1197px;
}

.u-section-1 .u-text-1 {
  font-family: Angkor;
  margin: 71px auto 0;
}

.u-section-1 .u-form-1 {
  height: 831px;
  --radius: 40px;
  box-shadow: 0px -2px 8px 0px rgba(114,239,233,0.8);
  background-image: linear-gradient(#478ac9, #b91c1c);
  width: 715px;
  margin: 33px auto 60px;
}

.u-section-1 .u-label-1 {
  width: 169px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  width: 169px;
}

.u-section-1 .u-label-3 {
  width: 169px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  width: 169px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  width: 169px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  width: 169px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  width: 169px;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  width: 169px;
}

.u-section-1 .u-label-9 {
  width: 169px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 570px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}